body{
    font-family: 'Inter', sans-serif;
}

.textaligncenter{
    text-align: center;
    font-size: 1.5rem;
}
.textaligncenter .value{
    font-size: 2.5rem;
}
.dashboard-details{
    padding-top: 20px;
    font-size: 1rem;
    text-align: center;
}

.dashboard-details p{
    font-size: 2rem;
    text-align: center;
}

.stakingdiv{
    padding-bottom: 4rem;
}

.creditdiv{
    padding-bottom: 4rem;
}