body{
    font-family: 'Inter', sans-serif;
}
.Dapp{
    font-family: 'Inter',sans-serif;
}

.textaligncenter{
    text-align: center;
    font-size: 1.5rem;
    padding:50px 50px 100px 50px;
    background: #1c1f28;
    color: white;
}

.textaligncenter .value{
    font-size: 2.5rem;
}

.staking-card{
    margin-top: -100px;
}

.dashboard-details{
    padding-top: 20px;
    font-size: 1rem;
    text-align: center;
}

.dashboard-details p{
    font-size: 2rem;
    text-align: center;
}

.stakingdiv{
    padding-bottom: 4rem;
}

.creditdiv{
    padding-bottom: 4rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
    color: black;
    background-color: #001529;
}

.ant-layout-header{
    background: #1c1f28 !important;
    
    border-bottom: 1px solid #494B53 !important;
}

.navbar{
    background-color: transparent;
}

.navbar a{
    color: white;
}
.navbar a:hover{
    color: #da00d9;
}

.col-left{
    margin-right: auto;
}
.col-right{
    margin-left: auto;
}

.padding{
    padding: 10px;
}

.dashboard-overview{
    background-color: #1c1f28;
    color: white;
    padding-bottom: 100px;
}
.dashboard-asset-table-container{
    margin-top: -100px;
    color: white;
}
.dashboard-asset-table-container h2{
    color: white;
}

.ant-progress-text{
    color: white !important;
}

.credit-overview{
    padding: 70px;
    background-color: #1c1f28;
    color: white;
}
.credit-overview h1{
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.credit-table-row{
    margin-top: -100px;
}





.net-apy-wrapper {
    height: 140px;
    width: 140px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .net-apy-wrapper .net-apy-description {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0.1875rem;
    background-color:#1c1f28;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
  }

  .headline {
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    margin-top: 0.7rem;
  }